<div class="container">
  <h2 style="display:flex; justify-content: center;">UserData</h2>
  <div *ngFor="let obj2 of dataArray">
    <h4 class="head">User ID:  </h4>
    <label class="head2"> {{ obj2.userId }} </label><br>
    <h4 class="head">Id</h4>
    <label class="head2"> {{ obj2.id }}</label><br>
    <h4 class="head">Title</h4>
    <label class="head2"> {{ obj2.title }} </label><br>
    <h4 class="head">Body</h4>
    <p class="head2"> {{ obj2.body }} </p> <br /><br /><br />
  </div>
</div>
